video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: no-repeat;
    background-size: cover;
	
}


@media screen and (max-device-width: 800px) {
    html {
         background: #000 no-repeat center center fixed;
    }
    #bgvid {
        display: none;
    }
}

video#bgvid {
    transition: 1s opacity;
}
.stopfade { opacity: .5; } 

h1{
    Color: white;
    font-family: 'Permanent Marker', cursive;
    font-size: 60px;
}



.button {
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    
  }
  
 
.jumbotron{
    height: 600px;
    width: 520px;
    right: 33%;
    margin: 200px;
    position: absolute;
    text-align: center;
    background: transparent;
    border: 3px solid white; 
   
}

h2, h3{
    color: white;
 }

 .container2{
     height: 600px;
     width: 520px;
     left: 89%;
     margin: 90px;
     position: absolute;
     text-align: center;
     background: transparent;
     border: 3px solid white;
     
 }

 